<nb-layout>
  <nb-layout-header fixed class="header">
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar>
    <app-sidebar></app-sidebar>
  </nb-sidebar>

  <nb-layout-column class="mainform">

    <!-- div class="row">
      <div class="col-xxl-6 col-xl-8 col-lg-10">
        <nb-card accent="info">
          <nb-card-header>Авторизация</nb-card-header>
          <nb-card-body>
            <div class="row mainform__row">
              <div class="col-sm-6">
                <input type="text" nbInput fullWidth  placeholder="Имя">
              </div>
              <div class="col-sm-6">
                <app-formfieldpassword></app-formfieldpassword>
              </div>
            </div>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton status="primary">Вход</button>
          </nb-card-footer>
        </nb-card>
      </div>
    </div -->



  </nb-layout-column>

</nb-layout>
